/* Work sans font import */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;

}

.btn-primary {
    padding: 10px 15px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}



/* Navbar Styles */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #424242;
}

.nav-title {
    color: #131313;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

/* Banner styles */

.banner-text {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 40px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}


.banner-description {
    margin-bottom: 15px;
    color: #727272;

}

.banner img {
    width: 100%;
}

/* Responsive making */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }
    
    nav {
        flex-direction: column;
    }

    .nav-title {
        margin-bottom: 20px;
        text-align: center;
    }
}
    

@media screen and (min-width:576px) and (max-width: 992px) {
    header {
        padding: 35px;
    }
    
    nav {
        flex-direction: column;
    }

    .nav-title {
        margin-bottom: 20px;
    }
}


@media screen and (min-width:992px) and (max-width: 1300px) {
    header {
        padding: 50px;
    }
    
    .nav-title {
        margin-bottom: 20px;
    }
}

/* main styles */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.features-section {
    margin-top: 50px;
    display: flex;
    align-items: center;
}


.features-content {
    padding: 60px;
}

.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-heading {
    font-size: 2.8rem;
    margin-bottom: 24px;
}

.Quick-list {
    color: #727272;
}

.of-our {
    color: #131313;
}

.features {
   color: #FF900E;
}

.features-description {
    color: #727272;
    margin-bottom: 24px;
}








